@model IEnumerable<AppUser>
<h4>All Users</h4>
<a class="btn btn-success mb-2" asp-action="Create">Create a new user</a>
<table class="table table-bordered">
    <tr>
        <th>Id</th>
        <th>User name</th>
        <th>Email</th>
        <th>Update</th>
        <th>Delete</th>
    </tr>
  @foreach(var user in Model) {
    <tr>
        <td>@user.Id</td>
        <td>@user.UserName</td>
        <td>@user.Email</td>
        <td>
            <a class="btn btn-warning" asp-action="Edit" asp-route-id="@user.Id">Update</a>
        </td>
        <td>
            <a class="btn btn-danger" asp-action="Delete" asp-route-id="@user.Id">Delete</a>
        </td>
    </tr>
  }
</table>